
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login_style.css">
    <title>Online Class</title>
</head>
<body>
<header>
    <section class="glass">
      <form class="" action="/" method="POST">
        <input type="text" placeholder="User Id" name="id">
        <input type="password" placeholder="Password" name="password">
        <input type="submit" value="Login">
      </form>
    </section>
  </header>

  <div class="circle1"></div>
  <div class="circle2"></div>

</body>
</html>
