<%- include('partial/minimal_header'); -%>

<header class="background d-flex justify-content-md-center align-items-center">
    <div class="">
        <section class="glass-sm">
            <h3>Registration Successfull!</h3>
        </section>
    </div>
  </header>

<%- include('partial/minimal_footer'); -%>
