.background{
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    width: 100%;
    min-height: 100vh;
  }


  .glass{
    background-color: white;
    min-height: 80vh;
    width: 70%;
    background: linear-gradient(to right top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border-radius: 20px;
    z-index: 3;
    backdrop-filter: blur(2rem);
    
}

.profile{
    text-align: center;
    background: linear-gradient(to right top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border-radius: 20px;
    min-height: 80vh;
    position: sticky;
}

.profile_pic{
  height: 120px;
  width: 120px;
  border-radius: 100px;
}

.desc{
  padding: 20px;
}

.desc ul li{
  list-style-type: none;
  display: flex;
  align-items: center;
  font-size: larger;
  font-weight: bold;
  border-bottom: 2px solid white;
}

.desc img{
  height: 30px;
  width: 30px;
  margin: 10px;
}

.button{
  border: none;
  margin: 0px;
  padding: 4px 20px 4px 20px;
  border-radius: 16px;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
}

.write-post{
  display: block;
  padding: 20px;
}

textarea{
  border: none;
  border-radius: 6px;
}

.my-cards{
  padding-left: 20px;
  padding-right: 20px;
}

.my-card{
  display: flex;
  background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.5)
  );
  margin: 2rem 0rem;
  padding-left: 10px;
  padding-top: 6px;
  border-radius: 1rem;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
  justify-content: space-between;
  align-items: center;
}

.my-card img{
  height: 40px;
  width: 40px;
  border-radius: 100px;
  position: relative;
  /* left: 10px; */
  top: 20px;
}